<ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
        <div class="nav-biglogo">
            <img src="/static/img/logo@2x.svg" height="32" />
            <div class="mt-1 logo-intro">开箱即用的后端管理解决方案</div>
        </div>
        <div class="logo-element navbar-minimalize minimalize-custom">
            NA+
        </div>
    </li>
    <li {{if strstr .path "/admin/dash/"}} class="active" {{end}}>
        <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li {{if strstr .path "/admin/dash/index"}} class="active" {{end}}><a href="/admin/dash/index"><i class="fa fa-bandcamp" aria-hidden="true"></i> 分析页</a></li>
            <li><a href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i> 个人信息</a></li>
            <li><a href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i> 站点设置</a></li>
        </ul>
    </li>
    <li {{if strstr .path "/admin/user/"}} class="active" {{end}}>
        <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">用户管理</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li {{if strstr .path "/admin/user/user"}} class="active" {{end}}
                {{if strstr .path "/admin/user/add"}} class="active" {{end}}
                {{if strstr .path "/admin/user/edit"}} class="active" {{end}}
            ><a href="/admin/user/user"><i class="fa fa-bandcamp" aria-hidden="true"></i> 用户列表</a></li>
        </ul>
    </li>

    <li {{if strstr .path "/admin/node/"}} class="active" {{end}}>
        <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">权限管理</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li {{if strstr .path "/admin/node/role"}} class="active" {{end}}><a href="/admin/node/role"><i class="fa fa-bandcamp" aria-hidden="true"></i> 角色管理</a></li>
            <li {{if strstr .path "/admin/node/node"}} class="active" {{end}}><a href="/admin/node/node"><i class="fa fa-bandcamp" aria-hidden="true"></i> 权限管理</a></li>
            <li {{if strstr .path "/admin/node/user"}} class="active" {{end}}><a href="/admin/node/user"><i class="fa fa-bandcamp" aria-hidden="true"></i> 用户权限</a></li>
        </ul>
    </li>

</ul>
