<div id="right-sidebar">
    <div class="sidebar-container">
        <ul class="nav nav-tabs navs-2">
            <li>
                <a class="nav-link active" data-toggle="tab" href="#tab-1"> 消息 </a>
            </li>
            <li>
                <a class="nav-link" data-toggle="tab" href="#tab-2"> 项目 </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">

                <div class="sidebar-title">
                    <h3> <i class="fa fa-comments-o"></i> 最新消息</h3>
                    <small><i class="fa fa-tim"></i> 你有10条新消息。</small>
                </div>

                <div>

                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_1.jpg">

                                <div class="m-t-xs">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                </div>
                            </div>
                            <div class="media-body">

                                Lorem Ipsum的通道有许多变化。
                                <br>
                                <small class="text-muted">今天 4:21 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_2.jpg">
                            </div>
                            <div class="media-body">
                                使用Lorem Ipsum的观点是它具有或多或少的正常。
                                <br>
                                <small class="text-muted">Yesterday 2:45 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_3.jpg">

                                <div class="m-t-xs">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                这些年来，有时是意外的，有时是有目的的（注入幽默等）。
                                <br>
                                <small class="text-muted">昨天 1:10 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_1.jpg">
                            </div>

                            <div class="media-body">
                                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                <br>
                                <small class="text-muted">星期一 8:37 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_2.jpg">
                            </div>
                            <div class="media-body">

                                互联网上的所有Lorem Ipsum发电机往往重复。
                                <br>
                                <small class="text-muted">今天 4:21 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_3.jpg">
                            </div>
                            <div class="media-body">
                                再生。 Lorem Ipsum的第一行“Lorem ipsum dolor sit amet ..”来自1.10.32节的一行。
                                <br>
                                <small class="text-muted">昨天 2:45 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_1.jpg">

                                <div class="m-t-xs">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                从1500年代以来使用的Lorem Ipsum的标准块转载如下。
                                <br>
                                <small class="text-muted">昨天 1:10 pm</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a href="#">
                            <div class="float-left text-center">
                                <img alt="image" class="rounded-circle message-avatar" src="/static/img/person_2.jpg">
                            </div>
                            <div class="media-body">
                                揭开许多网站仍处于起步阶段。 各种版本有。
                                <br>
                                <small class="text-muted">星期一 8:37 pm</small>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div id="tab-2" class="tab-pane">

                <div class="sidebar-title">
                    <h3> <i class="fa fa-cube"></i> 最新项目</h3>
                    <small><i class="fa fa-tim"></i> 你有14个项目。 10没有完成</small>
                </div>

                <ul class="sidebar-list">
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>业务估值</h4>
                            一个长期以来的事实是，读者会分心。

                            <div class="small">完成度: 22%</div>
                            <div class="progress progress-mini">
                                <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                            </div>
                            <div class="small text-muted m-t-xs">时间: 4:00 pm - 12.06.2014</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>与公司签订合同 </h4>
                            许多桌面出版包和网页编辑器。

                            <div class="small">完成度: 48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>会议</h4>
                            通过查看其布局时页面的可读内容。

                            <div class="small">完成度: 14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-primary float-right">NEW</span>
                            <h4>生成的</h4>
                            Lorem Ipsum的通道有许多变化。
                            <div class="small">完成度: 22%</div>
                            <div class="small text-muted m-t-xs">时间: 4:00 pm - 12.06.2014</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>业务估值</h4>
                            一个长期以来的事实是，读者会分心。

                            <div class="small">完成度: 22%</div>
                            <div class="progress progress-mini">
                                <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                            </div>
                            <div class="small text-muted m-t-xs">时间: 4:00 pm - 12.06.2014</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>与公司签订合同 </h4>
                            许多桌面出版包和网页编辑器。

                            <div class="small">完成度: 48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="small float-right m-t-xs">9小时前</div>
                            <h4>会议</h4>
                            通过查看其布局时页面的可读内容。

                            <div class="small">完成度: 14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-primary float-right">NEW</span>
                            <h4>生成的</h4>
                            <!--<div class="small float-right m-t-xs">9小时前</div>-->
                            Lorem Ipsum的通道有许多变化。
                            <div class="small">完成度: 22%</div>
                            <div class="small text-muted m-t-xs">时间: 4:00 pm - 12.06.2014</div>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
